<settings>
    <servers>
        <server>
            <id>ossrh</id>
            <username>trendyol</username>
            <password>Pimcek.6161ts!</password>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>ossrh</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <gpg.passphrase>qwerty1234</gpg.passphrase>
            </properties>
        </profile>
    </profiles>
</settings>